<div class="container m-auto pt-5">
    <div class="container-fluid">
        <h3 class="fw-bold text-center pb-2">
            <%= data.tieude %>
        </h3>
        <div class="row">
            <div class="col-7 pt-5 ps-5 fs-5">
                <div>
                    <h4 class="fw-bold ">Tên đăng ký:
                    </h4>
                    <%= data.rows.tendk %>
                </div>
                <div>
                    <h4 class="fw-bold ">Email: </h4>
                    <%= data.rows.email %>
                </div>
                <div>
                    <h4 class="fw-bold ">Tên tài khoản: </h4>
                    <%= data.rows.user %>
                </div>
                <div>
                    <h4 class="fw-bold ">Quyền: </h4>
                    <%= data.rows.quyen %>
                </div>
                <div>
                    <h4 class="fw-bold ">Trạng thái: </h4>
                    <%= data.rows.trangthai %>
                </div>

            </div>
        </div>

    </div>

</div>